.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #0493bd;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  align-items: center;
  padding: 1em 25%;
  font: 300 20px "Oswald", sans-serif;
  line-height: 1.5em;
}


/*table*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

.main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

@media screen and (max-width: 620px) {
  .container {
    padding: 0 30px;
  }
}
