html {
  font-family: sans-serif;
}

/*navbar*/
nav ul {
  background-color: rgb(246, 37, 37);
  color: rgb(246, 25, 25);
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;

  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li:hover {
  background-color: #0493bd;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  line-height: 1.5em;
  font-size: 0.9em;
  padding: 40px;
  margin: 0 auto;
  max-width: 960px;
}

.handle {
  width: 100%;
  background-color: #b2bec2;
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
  display: none;
}

.logo {
  height: 40px;
  width: 40px;
}
.menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.menu_icon {
  float: right;
  margin: 0.5em 0;
}
