
/*image section*/
.cover {
  position: relative;
  font-size: 25px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 4px rgba(23, 125, 143, 0.6);
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 1px rgba(91, 212, 228, 0.6);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 7px rgba(58, 133, 146, 0.6);
    opacity: 1;
    transform: translateY(-15px);
  }
  75% {
    box-shadow: 0 0 0 4px rgba(143, 186, 192, 0.6);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 5px rgba(37, 202, 231, 0.6);
    opacity: 1;
    transform: none;
  }
}
.button {
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 1s ease;
}
.button:hover {
  transform: rotate(180deg);
}
.username {
  font-size: 20px;
}
.description {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-shadow: 0 0 5px #fff;
  color: #0493bd;
}
.description span {
  font-weight: bold;
}

@media screen and (max-width: 620px) {
  nav ul {
    max-height: 0px;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }
  .showing {
    max-height: 20em;
  }
  .handle {
    display: block;
  }
  header h1 {
    font-size: 3em;
  }
  .description {
    font-size: 20px;
  }
}
